* {
    font-family: Oxygen;
    margin: 0px;
}


#f1 {
    width: 100%;
    background-color: rgba(47, 87, 129, 0.28);
    padding-top: 15px;
    padding-bottom: 15px;

    display: inline-flex;
    justify-content: space-around;
}

#f2 {
    width: 100%;

}

#f3 {
    padding: 25px 20px;
    padding-right: 35px;
    float: left;
}

#f4 {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#f5 {
    line-height: 4.75em;
    border-left: 1px solid grey;
}


#f6 {
    
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

#f7 {
    display: flex;
    justify-content: center;
}

li {
    display: inline-block;
    margin-right: 15px;
    padding-left: 2px;
    padding-right: 2px;
}

li a {
    color: black;
    text-decoration: none;
}

.fh1 {
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.3em;
}

.fh2 {
    font-size: 14px;
    letter-spacing: 0.01em;
}













#s1 {
    background-image: url(https://wallpaperaccess.com/full/1638085.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 140px;

}

#s2 {
    text-align: center;
    color: white;
}


#sf1 {
    font-size: 40px;
    line-height: 1.25em;
}

#sf2 {
    font-size: 20px;
}

#sf3 {
    font-size: 24px;
    line-height: 2em;
}

#s4 {
    padding-top: 22px;
    padding-bottom: 26px;
    width: 40%;
    margin: 0 auto;

}


.divider {
    width: 30%;
    margin: 0 auto;
}

.divider-down {
    border-bottom: 2px solid lightslategray;
    padding-bottom: 35px;
    margin-top: 30px;
}

.divider-up {
    border-top: 2px solid lightslategray;
    padding-top: 35px;
}

.title-overview {
    margin-top: 50px;
}

.title-overview h2 {
    font-size: 32px;
    font-weight: 200;
    text-align: center;

}

/*
.flex-show {
    display: flex;
    flex-wrap: wrap;
}

.flow-show div div img {
    display: inline-block;
}

.flow-show div div p {
    display: inline-block;
}

*/






.simulslider {
    margin: 0px;
    padding:0px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;

}

.slider {
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 650px;
    display: flex;
}


.slides input {
   display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

/*
.slide img{
    width: 100%;
    height: 650px;
}
*/

.slide .slide-image {
    width: 100%;
    height: 650px;
}


#first-image {
    background-image: url(https://cdn.pixabay.com/photo/2017/07/27/17/39/clause-2546124_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#second-image {
    background-image: url(https://images.unsplash.com/photo-1423592707957-3b212afa6733?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bGVnYWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#third-image {
    background-image: url(https://images.pexels.com/photos/4098224/pexels-photo-4098224.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#forth-image {
    background-image: url(https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* css for manual navigation */

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
     
}

.manual-btn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}


.manual-btn:hover {
    background: black;
}



#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}


.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 610px;
}

.navigation-auto div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
 
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}


#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: black;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: black;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: black;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: black;
}


